\begin{equation}\label{eq:6}
k_{n+1} = n^2 + k_n^2 - k_{n-1}
\end{equation}

\begin{equation}\label{eq:3}
123123
\end{equation}

\begin{equation}\label{eq:4}
\TeX
\end{equation}

In [161]:
wd = %pwd
wd = wd.replace('\\','//')

In [1]:
import pandas as pd
import numpy as np
import matplotlib
%config InlineBackend.figure_format = 'retina'
%matplotlib inline
from datetime import datetime
from dateutil.parser import parse

Time Series Analysis    

本节，你需要掌握
\begin{itemize}
    \item Timestamps,specific instants in time
    \item Fixed periods,such as the month January 2007 or the full year 2010
\end{itemize}

## Date and Time Date Types and Tools

### Basic Operations

|Operation|Description|
|---|---|
|datetime.now()|
|datetime()|
|| 
|| 
|| 
||
||
||

In [2]:
datetime.now()

datetime.datetime(2022, 10, 8, 18, 22, 58, 655889)

In [3]:
[datetime.now().year, datetime.now().month, datetime.now().day]

[2022, 10, 8]

In [4]:
datetime(2011,1,7) - datetime(2008,6,24,8,15)

datetime.timedelta(days=926, seconds=56700)

### Converting Between String and Datetime

|Operation|Description|
|---|---|
|datetime.strptime()|将已知格式字符串转化为datetime
|parse()|自动转化
|pd.to_datetime()|与parse()效果相同 
|| 
|| 
||
||
||

|Arguments|Description|
|---|---|
|%Y|Four-digit year 2001
|%y|Two-digit year 01
|%m|Two-digit month [0,12]
|%d|Two-digit day [01,31]
|%F|Shortcut for %Y-%m-%d 
||
||
||

In [5]:
stamp = datetime(2011,1,3)
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [6]:
str(stamp)

'2011-01-03 00:00:00'

#### Dealing with a known format

datatime.strptime()

In [7]:
print(datetime.strptime('2011-01-03','%Y-%m-%d'))
print(datetime.strptime('2011-1-03','%Y-%m-%d'))
print(datetime.strptime('2011-1-3','%Y-%m-%d'))

2011-01-03 00:00:00
2011-01-03 00:00:00
2011-01-03 00:00:00

In [8]:
datestrs = ['7/6/2011','8/06/2008']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2008, 8, 6, 0, 0)]

#### Dealing with an unkown format

In [9]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [10]:
parse('3/8/2011')

datetime.datetime(2011, 3, 8, 0, 0)

In [11]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [12]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [13]:
#使用pd.to_datetime()能够达到与parse相同的效果
pd.to_datetime(['3/8/2011','6/12/2011','Jan 31, 1997 10:45 PM'])

DatetimeIndex(['2011-03-08 00:00:00', '2011-06-12 00:00:00',
               '1997-01-31 22:45:00'],
              dtype='datetime64[ns]', freq=None)

## Time Series Basics

In [14]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),
         datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6),index=dates)

In [15]:
ts

2011-01-02    1.064531
2011-01-05   -1.267553
2011-01-07    0.190376
2011-01-08   -0.573083
2011-01-10    0.132531
2011-01-12   -0.311342
dtype: float64

In [16]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

### Indexing,Selection,Subsetting

In [17]:
print(ts[ts.index[2]])
print(ts['2011-01-07'])
print(ts['01/07/2011'])

0.19037620751461073
0.19037620751461073
0.19037620751461073

In [18]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('2000-01-01',periods=1000))

In [19]:
longer_ts

2000-01-01   -0.088310
2000-01-02    2.060634
2000-01-03   -0.488282
2000-01-04    0.423004
2000-01-05   -0.148334
                ...
2002-09-22    0.198400
2002-09-23    0.605910
2002-09-24    0.247038
2002-09-25    0.188075
2002-09-26    0.389113
Freq: D, Length: 1000, dtype: float64

In [20]:
longer_ts['2001']

2001-01-01   -0.829782
2001-01-02   -0.731420
2001-01-03   -1.760942
2001-01-04    2.275561
2001-01-05   -1.414823
                ...
2001-12-27    0.569607
2001-12-28    4.334499
2001-12-29   -0.362823
2001-12-30    0.496734
2001-12-31    1.070005
Freq: D, Length: 365, dtype: float64

In [21]:
longer_ts['2001-01-02']

-0.7314201210209392

In [22]:
longer_ts['2001-01-01':'2001-02-01']

2001-01-01   -0.829782
2001-01-02   -0.731420
2001-01-03   -1.760942
2001-01-04    2.275561
2001-01-05   -1.414823
2001-01-06   -0.474894
2001-01-07   -1.083798
2001-01-08   -0.568723
2001-01-09   -0.291254
2001-01-10    1.024343
2001-01-11   -0.867892
2001-01-12   -2.373943
2001-01-13   -0.393884
2001-01-14   -0.253916
2001-01-15    0.481256
2001-01-16   -2.741765
2001-01-17   -1.118304
2001-01-18   -1.516795
2001-01-19    0.576015
2001-01-20    0.716872
2001-01-21   -0.068538
2001-01-22   -0.224763
2001-01-23   -0.219023
2001-01-24   -1.448751
2001-01-25   -0.744953
2001-01-26    0.350421
2001-01-27   -1.657548
2001-01-28    1.208130
2001-01-29    1.946908
2001-01-30   -1.599207
2001-01-31    0.649258
2001-02-01    1.266854
Freq: D, dtype: float64

In [23]:
# All of this holds true for DataFrame as well
dates =pd.date_range('2000-01-01',periods=100,freq='W-WED')

In [24]:
long_df = pd.DataFrame(np.random.randn(100,4),
                       index=dates,
                       columns=['Colorado','Texas','New York','Ohio'])

In [25]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -1.774186 -0.344874 -0.102193 -0.552710
2000-01-12  1.572787 -0.583338 -1.849206 -1.103002
2000-01-19 -1.526104  1.507951  0.905305  0.623364
2000-01-26 -1.119854 -0.192685  0.686184 -1.019888
2000-02-02  0.157391  0.877399 -1.360788  0.388047
...              ...       ...       ...       ...
2001-10-31 -0.731727  1.024463  0.512967 -1.362068
2001-11-07 -1.785625  2.176390  0.962580  0.645011
2001-11-14 -0.144063  0.736502  1.333545  0.196734
2001-11-21  0.866183 -0.897121  0.871533 -1.121134
2001-11-28 -0.281212 -0.309113 -0.794603  0.225464

[100 rows x 4 columns]

In [26]:
long_df.loc['2001-01',:]

            Colorado     Texas  New York      Ohio
2001-01-03 -0.460287 -0.755886  0.146998 -0.015350
2001-01-10  1.519228  0.019884 -0.202643 -0.583909
2001-01-17  0.657023 -0.061211 -1.148936  0.750525
2001-01-24 -0.277009  0.997174 -0.608948  0.004967
2001-01-31  0.790166  2.143566  0.227170  0.329075

### Time Series with Duplicate Indices

### Date Ranges,Frequencies,and Shifting

#### Generating Date Ranges

\begin{itemize}
    \itempd.date_range()
\end{itemize}

freq常用的参数   

|Arguments|Description|
|---|---|
|D|Calendar daily
|B|Business daily
|H|Hourly 
|min|Minutely 
|S|Secondly 
|--------|-----------------------------------------------------------------------------------------------|
|W-MON|Weekly on given day of week(MON,TUE,WED,THU,FRI,SAT,SUN)
|WOM-1MON|Week of Month
|--------|-----------------------------------------------------------------------------------------------|
|M|Last calendar day of month
|MS|First calendar day of month
|BM|Last business day of month
|BMS|Last business day of month
|--------|-----------------------------------------------------------------------------------------------|
|Q-JAN|Quarterly dates anchored on the last calendar day of each month,for year ending in indicated month
|QS-JAN|
|BQ-JAN|business
|BQS-JAN|business
|--------|-----------------------------------------------------------------------------------------------|
|A-JAN|Annual Dated anchored on last weekday of given month
|AS-JAN|YearBegin
|BA-JAN|
|BAS-JAN|

In [27]:
pd.date_range('2012-04-01','2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [28]:
pd.date_range('2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [29]:
pd.date_range('2000-01-01','2000-12-01',freq='Q')

DatetimeIndex(['2000-03-31', '2000-06-30', '2000-09-30'], dtype='datetime64[ns]', freq='Q-DEC')

In [30]:
pd.date_range('2000-01-01','2000-12-01',freq='4h')
pd.date_range('2000-01-01','2000-12-01',freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00',
               ...
               '2000-11-30 10:30:00', '2000-11-30 12:00:00',
               '2000-11-30 13:30:00', '2000-11-30 15:00:00',
               '2000-11-30 16:30:00', '2000-11-30 18:00:00',
               '2000-11-30 19:30:00', '2000-11-30 21:00:00',
               '2000-11-30 22:30:00', '2000-12-01 00:00:00'],
              dtype='datetime64[ns]', length=5361, freq='90T')

In [31]:
pd.date_range('2000-01-01','2000-12-01',freq='WOM-3FRI')

DatetimeIndex(['2000-01-21', '2000-02-18', '2000-03-17', '2000-04-21',
               '2000-05-19', '2000-06-16', '2000-07-21', '2000-08-18',
               '2000-09-15', '2000-10-20', '2000-11-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

#### Shifting (Leading and Lagging) Data

In [32]:
ts = pd.Series(np.random.randn(8),
               index=pd.date_range('2000-01-01',periods=8,freq='M'))

In [33]:
ts

2000-01-31   -3.066760
2000-02-29    0.611878
2000-03-31    0.432855
2000-04-30    1.160919
2000-05-31    0.248552
2000-06-30    1.086567
2000-07-31   -0.048295
2000-08-31   -1.765511
Freq: M, dtype: float64

In [34]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -3.066760
2000-04-30    0.611878
2000-05-31    0.432855
2000-06-30    1.160919
2000-07-31    0.248552
2000-08-31    1.086567
Freq: M, dtype: float64

In [35]:
ts.shift(-2)

2000-01-31    0.432855
2000-02-29    1.160919
2000-03-31    0.248552
2000-04-30    1.086567
2000-05-31   -0.048295
2000-06-30   -1.765511
2000-07-31         NaN
2000-08-31         NaN
Freq: M, dtype: float64

In [36]:
pd.concat([ts,ts.shift(2)],axis=1)
# pd.concat([ts,ts.shift(2)],axis=1).dropna()

                   0         1
2000-01-31 -3.066760       NaN
2000-02-29  0.611878       NaN
2000-03-31  0.432855 -3.066760
2000-04-30  1.160919  0.611878
2000-05-31  0.248552  0.432855
2000-06-30  1.086567  1.160919
2000-07-31 -0.048295  0.248552
2000-08-31 -1.765511  1.086567

## periods and Period Arithmetic

In [37]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [38]:
p+2

Period('2009', 'A-DEC')

In [39]:
rng = pd.period_range('2000-01-01','2000-06-30',freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [40]:
pd.Series(np.random.randn(6),index=rng)

2000-01    0.150722
2000-02   -0.871952
2000-03    1.895842
2000-04    0.371955
2000-05    0.181509
2000-06   -0.058981
Freq: M, dtype: float64

In [41]:
values = ['2001Q3', '2001Q2', '2001Q1']
index = pd.PeriodIndex(values,freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2001Q2', '2001Q1'], dtype='period[Q-DEC]')

### Period Frequency Conversion

一个例子

In [42]:
data = pd.read_csv(wd+'//pydata-book//examples//macrodata.csv')
data

NameError: name 'wd' is not defined

In [ ]:
index =pd.PeriodIndex(year=data.year,quarter=data.quarter,freq='Q-DEC')
data.index = index
data

## Resampling and Frequency Conversion

### Resample

\begin{itemize}
\item Resample与groupby类似
\end{itemize}

In [43]:
rng = pd.date_range('2000-01-01',periods=300,freq='D')
ts = pd.Series(np.random.randn(len(rng)),index=rng)
df = pd.DataFrame(np.random.randn(len(rng),3),index=rng)

In [44]:
ts

2000-01-01   -1.232679
2000-01-02   -1.316837
2000-01-03   -0.498254
2000-01-04   -0.561934
2000-01-05    0.854752
                ...
2000-10-22    0.435132
2000-10-23   -0.598874
2000-10-24    0.351440
2000-10-25    2.257321
2000-10-26    1.901338
Freq: D, Length: 300, dtype: float64

In [45]:
ts.resample('M').apply(lambda x:x.mean())

2000-01-31    0.241480
2000-02-29    0.082188
2000-03-31    0.117602
2000-04-30   -0.247452
2000-05-31   -0.199804
2000-06-30   -0.283468
2000-07-31   -0.415088
2000-08-31    0.210128
2000-09-30    0.132158
2000-10-31    0.171281
Freq: M, dtype: float64

In [46]:
ts.resample('M').ohlc()

                open      high       low     close
2000-01-31 -1.232679  2.484016 -2.452750 -0.177620
2000-02-29  0.432341  1.426834 -2.659651  0.241377
2000-03-31 -0.822272  1.719188 -2.399626  1.536209
2000-04-30 -0.169842  2.069539 -3.253711 -0.501503
2000-05-31 -0.163808  2.162724 -2.569932  1.077663
2000-06-30 -0.487612  2.804687 -1.770620  0.898140
2000-07-31  0.223486  1.687753 -3.698087 -0.377327
2000-08-31 -0.365808  1.861726 -1.392064 -0.144205
2000-09-30  0.811664  1.724974 -1.932099  0.146607
2000-10-31 -0.114004  2.257321 -1.632933  1.901338

In [47]:
df.resample('WOM-3FRI').mean()

                   0         1         2
1999-12-17  0.088369 -0.480482 -0.119894
2000-01-21  0.025456 -0.024559  0.065928
2000-02-18 -0.202020 -0.119354  0.225212
2000-03-17 -0.412436  0.116556  0.077412
2000-04-21 -0.113501  0.271748  0.022574
2000-05-19 -0.077492 -0.131117 -0.109322
2000-06-16 -0.044951  0.092002  0.283052
2000-07-21  0.334919 -0.025624 -0.268753
2000-08-18 -0.042219 -0.148987  0.162796
2000-09-15 -0.082354  0.521307 -0.049944
2000-10-20  0.089347  0.182003 -0.797847

In [48]:
#观察对于DataFrame是如何切片的，与groupby不同了
df.resample('M').apply(lambda x:print(x))

2000-01-01    1.550969
2000-01-02   -0.162380
2000-01-03    0.321459
2000-01-04   -0.022757
2000-01-05   -0.887864
2000-01-06   -1.050213
2000-01-07    0.162142
2000-01-08    2.330733
2000-01-09   -0.360497
2000-01-10    0.855686
2000-01-11    0.135640
2000-01-12    0.267897
2000-01-13   -0.484204
2000-01-14   -0.865481
2000-01-15   -0.585308
2000-01-16    0.561106
2000-01-17    0.264953
2000-01-18   -1.742867
2000-01-19    2.411252
2000-01-20   -0.932889
2000-01-21    0.387369
2000-01-22    0.233668
2000-01-23    0.501367
2000-01-24    0.872562
2000-01-25   -0.966574
2000-01-26    0.327692
2000-01-27    1.215181
2000-01-28   -0.731952
2000-01-29    0.442485
2000-01-30   -0.809680
2000-01-31   -0.119651
Freq: D, Name: 0, dtype: float64
2000-02-01   -0.203243
2000-02-02    1.109499
2000-02-03    0.548701
2000-02-04   -1.002687
2000-02-05   -0.759814
2000-02-06    0.818830
2000-02-07   -1.754595
2000-02-08    1.387735
2000-02-09   -0.225155
2000-02-10   -0.153798
2000-02-11   -0.967457
2000-02-12   -1.236170
2000-02-13   -0.163685
2000-02-14    0.536723
2000-02-15    1.382452
2000-02-16    0.211047
2000-02-17   -0.168087
2000-02-18    1.432771
2000-02-19   -0.764808
2000-02-20    0.102888
2000-02-21   -0.798880
2000-02-22    0.019583
2000-02-23   -0.502895
2000-02-24   -0.843609
2000-02-25   -0.698009
2000-02-26    0.052302
2000-02-27    0.293042
2000-02-28    0.167993
2000-02-29    1.816862
Freq: D, Name: 0, dtype: float64
2000-03-01   -0.003543
2000-03-02   -0.069134
2000-03-03   -0.554553
2000-03-04    0.560947
2000-03-05   -0.921278
2000-03-06   -0.013324
2000-03-07   -0.931231
2000-03-08   -1.353511
2000-03-09   -1.920801
2000-03-10    1.208201
2000-03-11   -0.963987
2000-03-12    0.102852
2000-03-13   -0.763594
2000-03-14    0.900351
2000-03-15   -0.688186
2000-03-16   -0.523019
2000-03-17   -0.606731
2000-03-18    1.245722
2000-03-19   -0.399980
2000-03-20   -1.202036
2000-03-21   -0.211060
2000-03-22    0.050776
2000-03-23    0.399456
2000-03-24   -0.472341
2000-03-25   -1.222121
2000-03-26   -1.272591
2000-03-27    0.749448
2000-03-28    1.477350
2000-03-29   -0.391844
2000-03-30   -1.844615
2000-03-31   -2.066536
Freq: D, Name: 0, dtype: float64
2000-04-01   -2.304706
2000-04-02   -0.012850
2000-04-03    0.372591
2000-04-04   -0.395123
2000-04-05    0.047826
2000-04-06   -1.738068
2000-04-07   -1.242855
2000-04-08    0.516051
2000-04-09    0.156528
2000-04-10   -1.429746
2000-04-11   -0.690010
2000-04-12   -0.228941
2000-04-13   -0.184634
2000-04-14    0.209972
2000-04-15   -1.237792
2000-04-16   -0.216222
2000-04-17    1.593761
2000-04-18   -1.210120
2000-04-19    0.175270
2000-04-20   -0.849079
2000-04-21   -1.372845
2000-04-22   -0.732440
2000-04-23    1.519475
2000-04-24    0.730797
2000-04-25   -0.954272
2000-04-26   -0.935313
2000-04-27   -0.591297
2000-04-28    1.315386
2000-04-29    0.201237
2000-04-30   -0.842202
Freq: D, Name: 0, dtype: float64
2000-05-01    1.233123
2000-05-02    0.021053
2000-05-03   -0.595828
2000-05-04   -0.616276
2000-05-05   -1.234271
2000-05-06    0.422054
2000-05-07   -0.530972
2000-05-08    0.358727
2000-05-09    0.557782
2000-05-10    1.089759
2000-05-11   -0.002989
2000-05-12   -0.710658
2000-05-13   -0.321507
2000-05-14   -1.708214
2000-05-15    0.275148
2000-05-16   -0.011215
2000-05-17   -0.063339
2000-05-18    0.321072
2000-05-19    2.172235
2000-05-20    0.090111
2000-05-21   -0.769170
2000-05-22    0.090713
2000-05-23   -0.779554
2000-05-24    0.267500
2000-05-25    0.103168
2000-05-26   -0.414170
2000-05-27    0.854813
2000-05-28   -1.180996
2000-05-29   -0.674625
2000-05-30    0.314533
2000-05-31   -0.382172
Freq: D, Name: 0, dtype: float64
2000-06-01    0.154321
2000-06-02    0.037297
2000-06-03   -0.820201
2000-06-04   -0.434769
2000-06-05   -2.481626
2000-06-06   -0.489566
2000-06-07   -0.264957
2000-06-08   -0.601622
2000-06-09   -1.492029
2000-06-10    0.901510
2000-06-11    0.034695
2000-06-12    1.282926
2000-06-13    1.260079
2000-06-14    1.367457
2000-06-15   -0.315680
2000-06-16    0.920964
2000-06-17   -1.723276
2000-06-18   -0.763871
2000-06-19   -2.257537
2000-06-20    0.474350
2000-06-21   -0.754602
2000-06-22   -0.230991
2000-06-23    1.165344
2000-06-24    0.005454
2000-06-25   -0.933390
2000-06-26    0.691788
2000-06-27    1.015322
2000-06-28   -1.337003
2000-06-29    0.918498
2000-06-30    1.796573
Freq: D, Name: 0, dtype: float64
2000-07-01   -0.252779
2000-07-02    0.291588
2000-07-03   -1.483917
2000-07-04    0.957620
2000-07-05    1.261999
2000-07-06    0.971877
2000-07-07    1.202641
2000-07-08    0.463413
2000-07-09   -1.294614
2000-07-10   -0.389423
2000-07-11   -0.436662
2000-07-12    0.614969
2000-07-13   -1.931632
2000-07-14   -0.543995
2000-07-15    0.490242
2000-07-16   -0.506811
2000-07-17    1.519927
2000-07-18   -0.539245
2000-07-19   -1.236395
2000-07-20    0.280304
2000-07-21   -0.125091
2000-07-22    1.744898
2000-07-23   -0.929614
2000-07-24   -0.968756
2000-07-25    0.709051
2000-07-26    1.477265
2000-07-27    0.518810
2000-07-28   -1.641935
2000-07-29    1.663179
2000-07-30    2.407356
2000-07-31   -0.369579
Freq: D, Name: 0, dtype: float64
2000-08-01    0.855663
2000-08-02    1.773871
2000-08-03   -0.200416
2000-08-04    1.219630
2000-08-05    0.419646
2000-08-06   -1.490310
2000-08-07   -0.237330
2000-08-08    1.663592
2000-08-09    1.893493
2000-08-10    2.244088
2000-08-11    0.133471
2000-08-12   -3.117312
2000-08-13    0.045017
2000-08-14   -1.133318
2000-08-15   -0.269451
2000-08-16    0.775248
2000-08-17    0.316563
2000-08-18   -0.372494
2000-08-19   -0.334273
2000-08-20    0.181581
2000-08-21   -0.104643
2000-08-22   -1.574835
2000-08-23   -0.816117
2000-08-24    1.112714
2000-08-25    1.376631
2000-08-26   -0.522206
2000-08-27   -1.303034
2000-08-28   -0.523591
2000-08-29   -2.328691
2000-08-30    0.211162
2000-08-31    1.163651
Freq: D, Name: 0, dtype: float64
2000-09-01   -1.940750
2000-09-02    0.549464
2000-09-03    0.621677
2000-09-04    0.967270
2000-09-05    0.954588
2000-09-06   -0.909773
2000-09-07   -1.801700
2000-09-08    0.662204
2000-09-09   -0.019407
2000-09-10    1.435362
2000-09-11    1.839258
2000-09-12   -0.002850
2000-09-13    0.157076
2000-09-14    0.139603
2000-09-15   -1.275234
2000-09-16   -0.344390
2000-09-17   -1.211004
2000-09-18    1.736082
2000-09-19    0.176102
2000-09-20    0.014711
2000-09-21   -0.854695
2000-09-22   -1.135805
2000-09-23   -3.307196
2000-09-24    1.636843
2000-09-25   -0.258975
2000-09-26   -0.951024
2000-09-27    0.342634
2000-09-28    0.426003
2000-09-29    1.686491
2000-09-30   -0.797995
Freq: D, Name: 0, dtype: float64
2000-10-01   -0.219063
2000-10-02   -1.162831
2000-10-03   -0.387169
2000-10-04   -0.201567
2000-10-05    0.879040
2000-10-06    0.313909
2000-10-07   -2.219884
2000-10-08   -0.777836
2000-10-09    0.103842
2000-10-10   -0.104168
2000-10-11   -1.592124
2000-10-12    1.014800
2000-10-13   -0.199304
2000-10-14    1.229351
2000-10-15   -1.294978
2000-10-16    1.885405
2000-10-17    2.040442
2000-10-18    0.736352
2000-10-19    1.190846
2000-10-20    0.792887
2000-10-21    0.242974
2000-10-22   -0.218333
2000-10-23   -1.594295
2000-10-24    1.096702
2000-10-25    1.631711
2000-10-26   -1.326219
Freq: D, Name: 0, dtype: float64
2000-01-01   -0.556456
2000-01-02    1.128727
2000-01-03   -0.405147
2000-01-04    0.624146
2000-01-05    0.833114
2000-01-06   -1.518854
2000-01-07   -0.306656
2000-01-08   -0.163129
2000-01-09    0.415608
2000-01-10   -0.312988
2000-01-11    1.931058
2000-01-12   -2.108123
2000-01-13   -1.811555
2000-01-14   -0.949659
2000-01-15   -1.324602
2000-01-16   -0.568777
2000-01-17   -0.078364
2000-01-18   -1.849731
2000-01-19   -1.691736
2000-01-20   -0.896507
2000-01-21    0.386577
2000-01-22    0.828681
2000-01-23    1.351899
2000-01-24    0.247849
2000-01-25   -1.213675
2000-01-26   -2.598305
2000-01-27    0.342476
2000-01-28   -0.494955
2000-01-29    0.398743
2000-01-30    0.115355
2000-01-31   -0.269919
Freq: D, Name: 1, dtype: float64
2000-02-01   -1.841017
2000-02-02    1.417152
2000-02-03    0.291826
2000-02-04    1.058707
2000-02-05    0.376787
2000-02-06   -0.223544
2000-02-07    1.143812
2000-02-08    0.193262
2000-02-09   -1.291262
2000-02-10    1.692477
2000-02-11   -0.998274
2000-02-12   -0.191126
2000-02-13   -0.677122
2000-02-14    0.333167
2000-02-15   -0.730083
2000-02-16    0.131016
2000-02-17   -0.468158
2000-02-18    0.971901
2000-02-19   -1.399002
2000-02-20   -0.119072
2000-02-21   -0.257569
2000-02-22    0.052768
2000-02-23   -0.196561
2000-02-24    0.393524
2000-02-25   -1.249775
2000-02-26    1.381819
2000-02-27   -0.151381
2000-02-28    0.633121
2000-02-29   -1.324129
Freq: D, Name: 1, dtype: float64
2000-03-01   -1.144185
2000-03-02    1.907217
2000-03-03   -3.054295
2000-03-04    0.581531
2000-03-05   -0.145663
2000-03-06   -0.749658
2000-03-07    0.067359
2000-03-08   -0.458672
2000-03-09   -0.213972
2000-03-10    0.800976
2000-03-11    0.924118
2000-03-12    0.672674
2000-03-13    0.646202
2000-03-14   -2.510615
2000-03-15   -0.395172
2000-03-16    0.994590
2000-03-17    0.457349
2000-03-18   -0.988485
2000-03-19   -0.084539
2000-03-20    0.107958
2000-03-21    0.291989
2000-03-22   -0.184161
2000-03-23    1.917739
2000-03-24   -0.028232
2000-03-25   -0.945462
2000-03-26    1.342983
2000-03-27    0.947477
2000-03-28   -1.088318
2000-03-29   -0.589979
2000-03-30    0.425157
2000-03-31    0.978969
Freq: D, Name: 1, dtype: float64
2000-04-01    1.751162
2000-04-02   -0.967729
2000-04-03    0.345791
2000-04-04    1.988167
2000-04-05    1.636394
2000-04-06   -1.129160
2000-04-07   -2.802654
2000-04-08    1.032088
2000-04-09   -0.169188
2000-04-10   -1.265678
2000-04-11    0.769573
2000-04-12   -1.123603
2000-04-13    0.729457
2000-04-14    0.655482
2000-04-15    1.208698
2000-04-16   -0.764390
2000-04-17    0.780834
2000-04-18   -0.237735
2000-04-19    0.603868
2000-04-20   -1.522372
2000-04-21    0.776797
2000-04-22    1.831586
2000-04-23    0.883777
2000-04-24    0.561853
2000-04-25   -0.812889
2000-04-26    1.034298
2000-04-27    0.215657
2000-04-28    0.477081
2000-04-29   -0.373958
2000-04-30   -1.692503
Freq: D, Name: 1, dtype: float64
2000-05-01   -0.251859
2000-05-02    0.959433
2000-05-03   -0.041694
2000-05-04   -0.782106
2000-05-05    0.996261
2000-05-06    0.843750
2000-05-07   -1.841510
2000-05-08   -0.012747
2000-05-09    0.727377
2000-05-10    0.301189
2000-05-11    1.491730
2000-05-12    2.000242
2000-05-13   -1.004114
2000-05-14   -1.572980
2000-05-15   -0.482629
2000-05-16    1.206032
2000-05-17    0.690140
2000-05-18    1.480740
2000-05-19    1.048379
2000-05-20   -0.387043
2000-05-21    0.322139
2000-05-22   -1.435096
2000-05-23   -0.662213
2000-05-24    0.710101
2000-05-25   -0.508514
2000-05-26    0.271597
2000-05-27   -0.663991
2000-05-28    0.276760
2000-05-29    0.461260
2000-05-30   -1.756953
2000-05-31   -0.283399
Freq: D, Name: 1, dtype: float64
2000-06-01    0.754935
2000-06-02   -1.424629
2000-06-03    0.568766
2000-06-04   -0.690290
2000-06-05   -0.093754
2000-06-06   -0.628035
2000-06-07   -0.009881
2000-06-08    1.610108
2000-06-09   -0.174130
2000-06-10   -0.546006
2000-06-11    0.651037
2000-06-12    0.380688
2000-06-13   -0.141983
2000-06-14   -1.712057
2000-06-15    0.390943
2000-06-16   -0.509206
2000-06-17   -0.031323
2000-06-18    0.529556
2000-06-19   -1.039778
2000-06-20    0.600488
2000-06-21    0.715318
2000-06-22   -1.540444
2000-06-23    0.088807
2000-06-24    2.022535
2000-06-25   -0.208644
2000-06-26   -0.289711
2000-06-27   -1.021274
2000-06-28    0.096168
2000-06-29    0.797835
2000-06-30    1.043253
Freq: D, Name: 1, dtype: float64
2000-07-01   -0.518037
2000-07-02    1.809302
2000-07-03   -0.851574
2000-07-04   -1.367576
2000-07-05    1.709294
2000-07-06    0.020661
2000-07-07   -0.337644
2000-07-08    1.065235
2000-07-09    0.256493
2000-07-10   -0.769474
2000-07-11   -1.587610
2000-07-12    1.890893
2000-07-13    0.640221
2000-07-14   -0.299430
2000-07-15    0.994781
2000-07-16   -0.323579
2000-07-17    0.210170
2000-07-18    0.180136
2000-07-19   -1.193752
2000-07-20    0.437977
2000-07-21    0.973071
2000-07-22   -1.724301
2000-07-23   -1.178936
2000-07-24   -0.515046
2000-07-25   -1.371704
2000-07-26   -0.609255
2000-07-27    1.830466
2000-07-28    0.911738
2000-07-29    0.123993
2000-07-30    1.066023
2000-07-31    0.535396
Freq: D, Name: 1, dtype: float64
2000-08-01    0.809977
2000-08-02    0.042757
2000-08-03   -0.267916
2000-08-04    1.302139
2000-08-05    0.321853
2000-08-06    0.333416
2000-08-07   -1.075240
2000-08-08   -0.362926
2000-08-09   -1.032273
2000-08-10   -0.360692
2000-08-11   -0.242499
2000-08-12    0.080996
2000-08-13   -0.842436
2000-08-14    1.789623
2000-08-15    0.258236
2000-08-16   -0.645002
2000-08-17   -0.868922
2000-08-18   -0.838301
2000-08-19    0.351694
2000-08-20   -0.557010
2000-08-21   -1.538339
2000-08-22    0.241966
2000-08-23   -2.088159
2000-08-24    0.162457
2000-08-25   -1.309073
2000-08-26    1.690829
2000-08-27   -0.740149
2000-08-28   -0.021756
2000-08-29    0.065112
2000-08-30    0.261025
2000-08-31   -1.850899
Freq: D, Name: 1, dtype: float64
2000-09-01    0.570820
2000-09-02   -0.162734
2000-09-03    0.000236
2000-09-04   -0.047531
2000-09-05    0.262013
2000-09-06   -0.962103
2000-09-07    0.412941
2000-09-08    0.457070
2000-09-09   -0.246692
2000-09-10    0.677887
2000-09-11    0.568088
2000-09-12    1.499787
2000-09-13    0.055975
2000-09-14   -1.086781
2000-09-15    1.381077
2000-09-16   -0.006532
2000-09-17   -0.452674
2000-09-18    0.105932
2000-09-19    1.419809
2000-09-20    0.889646
2000-09-21   -0.083513
2000-09-22   -0.386223
2000-09-23    1.121027
2000-09-24    0.190683
2000-09-25    0.875522
2000-09-26   -0.461563
2000-09-27    0.996846
2000-09-28    1.268816
2000-09-29   -0.402246
2000-09-30    2.130263
Freq: D, Name: 1, dtype: float64
2000-10-01    0.421579
2000-10-02    0.520437
2000-10-03    0.321681
2000-10-04   -0.291791
2000-10-05   -0.346319
2000-10-06    0.308824
2000-10-07    0.095856
2000-10-08    0.766218
2000-10-09    0.153602
2000-10-10    1.407763
2000-10-11   -0.547736
2000-10-12    0.280519
2000-10-13    1.698304
2000-10-14    0.789964
2000-10-15    0.109738
2000-10-16   -0.053505
2000-10-17    2.717445
2000-10-18   -0.038356
2000-10-19    1.344667
2000-10-20   -0.310569
2000-10-21    0.130034
2000-10-22    1.020881
2000-10-23   -0.432250
2000-10-24   -0.914353
2000-10-25    0.440303
2000-10-26    1.339976
Freq: D, Name: 1, dtype: float64
2000-01-01   -2.131077
2000-01-02    0.865318
2000-01-03    1.011039
2000-01-04    0.689358
2000-01-05   -0.036754
2000-01-06    0.310953
2000-01-07   -1.418023
2000-01-08   -0.826723
2000-01-09    1.825254
2000-01-10   -0.558832
2000-01-11   -0.184005
2000-01-12    1.262526
2000-01-13    0.032634
2000-01-14   -0.378195
2000-01-15   -0.489163
2000-01-16    0.319693
2000-01-17   -0.108895
2000-01-18    0.220403
2000-01-19   -0.754587
2000-01-20   -2.048795
2000-01-21    0.519018
2000-01-22   -0.579629
2000-01-23    1.638947
2000-01-24   -0.036478
2000-01-25   -0.817431
2000-01-26   -1.164715
2000-01-27   -0.102418
2000-01-28   -0.154439
2000-01-29   -0.367802
2000-01-30   -0.319306
2000-01-31   -1.160639
Freq: D, Name: 2, dtype: float64
2000-02-01   -0.801163
2000-02-02    0.978656
2000-02-03   -0.148204
2000-02-04    0.751379
2000-02-05   -0.165396
2000-02-06    1.227361
2000-02-07   -0.676802
2000-02-08   -1.719196
2000-02-09   -0.468107
2000-02-10    0.678585
2000-02-11   -0.838060
2000-02-12    0.228140
2000-02-13   -0.731226
2000-02-14   -0.489806
2000-02-15    2.545298
2000-02-16    1.585282
2000-02-17    2.434129
2000-02-18    1.524035
2000-02-19    0.115272
2000-02-20    0.151528
2000-02-21    0.139656
2000-02-22   -0.401764
2000-02-23    0.317834
2000-02-24    1.753058
2000-02-25    2.346026
2000-02-26    1.069150
2000-02-27   -0.399364
2000-02-28    0.391049
2000-02-29   -0.394583
Freq: D, Name: 2, dtype: float64
2000-03-01    1.318735
2000-03-02   -1.637247
2000-03-03   -0.005303
2000-03-04    1.175563
2000-03-05   -0.980674
2000-03-06    0.063625
2000-03-07   -1.272699
2000-03-08    0.120271
2000-03-09   -0.235887
2000-03-10   -0.740137
2000-03-11    1.617644
2000-03-12   -2.729773
2000-03-13    1.366160
2000-03-14    0.224131
2000-03-15    0.724897
2000-03-16    0.684720
2000-03-17   -0.409746
2000-03-18    0.930762
2000-03-19   -1.320954
2000-03-20   -1.597050
2000-03-21   -0.344239
2000-03-22    1.419290
2000-03-23    1.513596
2000-03-24    1.540272
2000-03-25    0.582813
2000-03-26   -0.833633
2000-03-27    0.151653
2000-03-28   -0.542364
2000-03-29    0.425652
2000-03-30   -1.382317
2000-03-31   -0.967071
Freq: D, Name: 2, dtype: float64
2000-04-01    0.602810
2000-04-02   -0.903125
2000-04-03    0.689312
2000-04-04    0.639631
2000-04-05    0.658314
2000-04-06    0.484843
2000-04-07   -1.165056
2000-04-08   -0.574568
2000-04-09   -0.822494
2000-04-10    0.115157
2000-04-11    1.850189
2000-04-12   -0.263856
2000-04-13    0.211108
2000-04-14   -0.552558
2000-04-15   -0.406158
2000-04-16    0.187468
2000-04-17    1.223486
2000-04-18   -0.667306
2000-04-19    0.994078
2000-04-20    1.241498
2000-04-21    1.102820
2000-04-22   -0.788573
2000-04-23    0.580326
2000-04-24    0.075247
2000-04-25   -0.770979
2000-04-26    0.771462
2000-04-27   -0.048316
2000-04-28   -0.286782
2000-04-29    0.557714
2000-04-30   -1.484057
Freq: D, Name: 2, dtype: float64
2000-05-01    1.681489
2000-05-02    1.138601
2000-05-03   -1.549100
2000-05-04    1.663975
2000-05-05   -0.736052
2000-05-06   -0.215646
2000-05-07   -0.294470
2000-05-08   -0.959435
2000-05-09    0.929792
2000-05-10   -1.438987
2000-05-11    0.188772
2000-05-12    0.793423
2000-05-13   -1.515610
2000-05-14   -1.863446
2000-05-15    1.889767
2000-05-16   -0.556039
2000-05-17    1.900261
2000-05-18   -0.134079
2000-05-19   -0.233711
2000-05-20   -0.337462
2000-05-21    0.665589
2000-05-22    2.011911
2000-05-23    0.877580
2000-05-24   -1.122834
2000-05-25   -1.824855
2000-05-26   -1.539615
2000-05-27   -0.599111
2000-05-28    0.695910
2000-05-29    0.423970
2000-05-30    0.522597
2000-05-31    0.181191
Freq: D, Name: 2, dtype: float64
2000-06-01   -0.731830
2000-06-02    0.973992
2000-06-03   -0.881962
2000-06-04   -0.469448
2000-06-05   -0.107107
2000-06-06   -0.408602
2000-06-07   -0.618430
2000-06-08   -1.094701
2000-06-09    0.867503
2000-06-10   -1.440256
2000-06-11    1.346087
2000-06-12    0.391327
2000-06-13   -0.091704
2000-06-14   -0.720753
2000-06-15    0.203716
2000-06-16   -0.481624
2000-06-17    1.149842
2000-06-18   -0.463240
2000-06-19   -0.061798
2000-06-20   -0.533229
2000-06-21    0.133080
2000-06-22   -0.007234
2000-06-23   -1.070061
2000-06-24    0.553954
2000-06-25    2.226429
2000-06-26    1.814161
2000-06-27   -0.824883
2000-06-28   -1.207037
2000-06-29   -0.222802
2000-06-30    1.198290
Freq: D, Name: 2, dtype: float64
2000-07-01   -0.175120
2000-07-02    0.623793
2000-07-03   -0.922656
2000-07-04   -0.470216
2000-07-05    0.589840
2000-07-06    0.910321
2000-07-07    0.181203
2000-07-08    1.226716
2000-07-09   -0.338733
2000-07-10    1.454080
2000-07-11   -0.647356
2000-07-12    1.965573
2000-07-13   -0.325130
2000-07-14   -0.135247
2000-07-15    2.261706
2000-07-16    0.125998
2000-07-17    0.294996
2000-07-18    1.456541
2000-07-19   -0.447012
2000-07-20    0.073689
2000-07-21   -0.377303
2000-07-22   -1.306824
2000-07-23   -0.120476
2000-07-24   -1.001023
2000-07-25   -0.927631
2000-07-26    0.885393
2000-07-27    1.765355
2000-07-28   -0.038831
2000-07-29    0.089462
2000-07-30    0.532205
2000-07-31    1.196398
Freq: D, Name: 2, dtype: float64
2000-08-01   -1.834309
2000-08-02   -0.191531
2000-08-03   -0.146838
2000-08-04   -0.891570
2000-08-05    0.240472
2000-08-06   -1.911359
2000-08-07    0.391047
2000-08-08   -0.740510
2000-08-09   -0.123792
2000-08-10    0.041605
2000-08-11   -1.366944
2000-08-12    1.234784
2000-08-13   -1.413258
2000-08-14   -0.174351
2000-08-15    0.414329
2000-08-16   -0.763056
2000-08-17   -0.986525

               0     1     2
2000-01-31  None  None  None
2000-02-29  None  None  None
2000-03-31  None  None  None
2000-04-30  None  None  None
2000-05-31  None  None  None
2000-06-30  None  None  None
2000-07-31  None  None  None
2000-08-31  None  None  None
2000-09-30  None  None  None
2000-10-31  None  None  None

## Moving Window Functions

In [49]:
close_px_all = pd.read_csv(wd+'//pydata-book//examples//stock_px_2.csv',parse_dates=True,index_col=0)
close_px = close_px_all[['AAPL','MSFT','XOM']]
close_px = close_px.resample('B').ffill()
close_px

NameError: name 'wd' is not defined

In [50]:
close_px.AAPL.plot()
close_px.AAPL.rolling(50).mean().plot()

NameError: name 'close_px' is not defined

In [51]:
lin = close_px.iloc[range(20),:]
lin

NameError: name 'close_px' is not defined

\begin{itemize}
\item X.rolling(k).apply(lambda x:f(x))---(4)
\item X.rolling(k).mean()---(5)
\end{itemize}

\begin{equation}\label{eq:4}
Y_{n} = f(X_{n},X_{n-1},\dots,X_{n+1-k})
\end{equation}

\begin{equation}\label{eq:5}
Y_{n} =  \frac{X_{n}+X_{n-1}+\dots+X_{n+1-k}}{k} 
\end{equation}

In [52]:
lin['AAPL'].rolling(3).apply(lambda x:x[0]+x[1])

NameError: name 'lin' is not defined